<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>JSON Test</title>
	<script src="/javascripts/jquery.min.js"></script>
    

</head>

   <body>
    <h1>评委打分系统（区块链）</h1>
      
      <form action = "/createBlock" method = "POST">
         考生姓名: <input type = "text" name = "block">  <br>
         得分: <input type = "text" name = "carPlate">  <br>
         打分人密钥: <input type = "number" name = "Private_key"> <br>
         <input type = "submit" value = "Submit">
      </form>
      
   </body>
</html>